# Clave pública de Google reCAPTCHA v3.
SITE_KEY=
SECRET_KEY=
ENDPOINT=

# Datos públicos de contacto de Prosanitas.
CONTACT_EMAIL=info@prosanitassalud.com.ar
CONTACT_PHONE_OPERATIONS=2644534359
CONTACT_PHONE_ADMINISTRATION=2644506526
CONTACT_ADDRESS="PROSANITAS S.R.L. Gral. Paz (O) 548, Capital, San Juan"
CONTACT_FACEBOOK_LABEL="Prosanitas salud"
CONTACT_INSTAGRAM_LABEL=@saludprosanitas
SOCIAL_FACEBOOK_URL=
SOCIAL_INSTAGRAM_URL=https://www.instagram.com/saludprosanitas/
